{% extends 'ifgnapp/base.html' %}
{% load static %}

{% block title %} 
Book An Appointment | Institute of Forensic Graphology, Nigeria.
{% endblock %}

{% block metadata %}     
<meta name="description" content="Book an appointment at St. Mary's Maternity and Hospital for expert medical care. Convenient online scheduling available for maternity care, consultations, and tests." />
<link rel="canonical" href="https://ifgn-institute.org/about-us/" />               
<meta property="og:site_name" content="St. Mary's Hospital & Maternity" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Book An Appointment - Institute of Forensic Graphology, Nigeria." />
<meta property="og:description" content="Book an appointment at St. Mary's Maternity and Hospital for expert medical care. Convenient online scheduling available for maternity care, consultations, and tests." />
<meta property="og:image" content="https://ifgn-institute.org{% static 'ifgnapp/images/apple-touch-icon.png' %}" />
<meta property="og:locale" content="en_us" />
<meta property="og:url" content="https://ifgn-institute.org/about-us/" />
<meta name="twitter:site" content="@Institute of Forensic Graphology, Nigeria." />
<meta name="twitter:title" content="Book An Appointment - Institute of Forensic Graphology, Nigeria." />
<meta name="twitter:description" content="Book an appointment at St. Mary's Maternity and Hospital for expert medical care. Convenient online scheduling available for maternity care, consultations, and tests." />
<meta name="twitter:creator" content="@ugochukwunomehj" />
<meta name="twitter:image" content="https://ifgn-institute.org{% static 'ifgnapp/images/apple-touch-icon.png' %}" />
<meta property="twiter:card" content="summary_large_image" />
<meta name="twitter:image:alt" content="Institute of Forensic Graphology, Nigeria. logo" />
{% endblock %}

{% block content %}

<article id="big_sect">

  <section id="direction-wrap">
    <aside style="display: block; position: absolute; height: 100%; width: 100%; background-size: cover; 
    background-repeat: no-repeat; opacity: 0.66;
    background-position: center; top: 0px; left: 0px; background-image: url({% static 'ifgnapp/images/doc-img2.jpg' %}); ">
    
  </aside>
  
  <aside id="rays"></aside>
  <section id="top-page-txt-wrapper">
    <h1> Book An Appointment  </h1>
    
    <div id="top-page-txt-box">
      
      <a href="/">Home </a> 
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
      </svg>
      <span> Book An Appointment  </span>
    </div>
    <span id="down_arrow">
      <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%" fill="currentColor"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
          </span>
  </section>
   
    </section>
    
 <article id="sect-holder" style="margin-bottom: 5rem;">
    



    <!-- Book An Appointment .. -->
<article class="inpage_sect" style="background-color: #ffffff;">
  
        <!-- Box to display Book An Appointment .. -->
        <section class="med_serve_displ_box">
               <div class="med_serve_img_box">
                  <img style="height: 100%; width: auto;" src="{% static 'ifgnapp/images/maternity.jpg' %}" alt="St. Mary's Maternity Image">
               </div>

               <div class="med_serve_txt_box">
                <h2>Marternity</h2>
                  <p>
                    Our Maternity Care is one of the best Maternity in Nigeria. With over 30 new born babies deliveries every month and over 50 years of experience. We can pose as your reliable ally in terms of Maternity Care.
                  </p>
               </div>
        </section>


        <section class="med_serve_displ_box">
               <div class="med_serve_img_box">
                  <img style="height: 100%; width: auto;" src="{% static 'ifgnapp/images/radioimg.jpg' %}" alt="St. Mary's Maternity Image">
               </div>

               <div class="med_serve_txt_box">
                <h2>Radiology</h2>
                  <p>
                    Our Maternity Care is one of the best Maternity in Nigeria. With over 30 new born babies deliveries every month and over 50 years of experience. We can pose as your reliable ally in terms of Maternity Care.
                  </p>
               </div>
        </section>

        
        <section class="med_serve_displ_box">
               <div class="med_serve_img_box">
                  <img style="height: 100%; width: auto;" src="{% static 'ifgnapp/images/bloodtest.jpg' %}" alt="St. Mary's Maternity Image">
               </div>

               <div class="med_serve_txt_box">
                <h2>Blood Screening</h2>
                  <p>
                    Our Maternity Care is one of the best Maternity in Nigeria. With over 30 new born babies deliveries every month and over 50 years of experience. We can pose as your reliable ally in terms of Maternity Care. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio illo nihil quis est voluptas qui? Molestias doloremque ducimus porro, accusantium similique nulla dicta commodi quod dolor delectus obcaecati accusamus est! <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, consequatur? Iste cum saepe tempora beatae consequatur. Aspernatur ratione placeat natus rem. Doloribus fugiat maiores libero rerum asperiores iusto tenetur reiciendis.
                  </p>
               </div>
        </section>

        <section class="med_serve_displ_box">
               <div class="med_serve_img_box">
                  <img style="height: 100%; width: auto;" src="{% static 'ifgnapp/images/cardiology.jpg' %}" alt="St. Mary's Maternity Image">
               </div>

               <div class="med_serve_txt_box">
                <h2>Cardiology</h2>
                  <p>
                    Our Maternity Care is one of the best Maternity in Nigeria. With over 30 new born babies deliveries every month and over 50 years of experience. We can pose as your reliable ally in terms of Maternity Care.
                  </p>
               </div>
        </section>

        <section class="med_serve_displ_box">
               <div class="med_serve_img_box">
                  <img style="height: 100%; width: auto;" src="{% static 'ifgnapp/images/dentist.jpg' %}" alt="St. Mary's Maternity Image">
               </div>

               <div class="med_serve_txt_box">
                <h2>Dentistry</h2>
                  <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa sit doloremque asperiores cupiditate corrupti ex eos similique exercitationem, voluptates illum fuga suscipit sequi laboriosam nobis molestiae facere sed aliquam molestias. <br>
                    Our Maternity Care is one of the best Maternity in Nigeria. With over 30 new born babies deliveries every month and over 50 years of experience. We can pose as your reliable ally in terms of Maternity Care.
                  </p>
               </div>
        </section>

        <section class="med_serve_displ_box">
               <div class="med_serve_img_box">
                  <img style="height: 100%; width: auto;" src="{% static 'ifgnapp/images/maternity.jpg' %}" alt="St. Mary's Maternity Image">
               </div>

               <div class="med_serve_txt_box">
                <h2>Marternity</h2>
                  <p>
                    Our Maternity Care is one of the best Maternity in Nigeria. With over 30 new born babies deliveries every month and over 50 years of experience. We can pose as your reliable ally in terms of Maternity Care.
                  </p>
               </div>
        </section>

</article>

<style>
  .med_serve_img_box{
     height: 90%;
     width: 45%;
     box-sizing: border-box;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
  }
  .med_serve_txt_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 1rem;
    box-sizing: border-box;
    margin-left: 2rem;
    align-items: flex-start;
  }
  .med_serve_txt_box h2{
     font-size: 2.6rem;
     color: var(--main-color3);
     margin-bottom: 0rem;
     box-sizing: border-box;
  }
  .med_serve_txt_box p{
     font-size: 1.1rem;
     padding: 1rem;
     padding-top: 0px;
     padding-left: 0px;
     color: #545454;
     line-height: 1.7;
  }
    .med_serve_displ_box{
        height: 450px;
        width: 96%;
        margin-bottom: 5rem;
        max-width: 1020px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        background-color: #f8f8f8;
        justify-content: center;
        align-items: center;
        transition: .6s;
    }
    .med_serve_info_box > svg{
        height: 80px;
        width: 80px;
        margin-bottom: 0.1rem;
        /* background-color: #256bbc5d; */
        color: var(--main-color);
    }
    .med_serve_info_box > strong{
        font-size: 1.3rem;
        text-align: center;
        color: inherit;
    }
    .med_serve_info_box{
        height: 160px;
        color: var(--main-color);
        width: 180px;
        box-sizing: border-box;
        padding: 1rem;
        display: flex;
        margin: 1rem;
        border-radius: 1rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 0px 20px #e2e2e2;
        user-select: none;
        cursor: pointer;
        transition: .6s;
    }
    .med_serve_info_box:active, .med_serve_info_box:focus, .med_serve_info_box:hover{
        box-shadow: 0px 0px 20px rgb(177, 177, 177);
    }
    #med_serve_box_wrap{
        height: auto;
        width: 100%;
        margin-bottom: 1rem;
        box-sizing: border-box;
        /* background-color: #df2323; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
</style>
<!-- End of this section.. -->


          
</article>

</article>
{% endblock %}