
{% extends 'ifgnapp/base.html' %}
{% load static %}

{% block title %} 
Contact Us | Institute of Forensic Graphology, Nigeria.
{% endblock %}

{% block metadata %}     
<meta name="description" content="Want to talk to us directly? use the form on this page to send us a message. Institute of Forensic Graphology, Nigeria.." />
<link rel="canonical" href="https://ifgn-institute.org{{request.path_info}}" />               
<meta property="og:site_name" content="Institute of Forensic Graphology" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Contact Us - Institute of Forensic Graphology, Nigeria." />
<meta property="og:description" content="Want to talk to us directly? use the form on this page to send us a message." />
<meta property="og:image" content="https://ifgn-institute.org{% static 'ifgnapp/images/apple-touch-icon.png' %}" />
<meta property="og:locale" content="en_us" />
<meta property="og:url" content="https://ifgn-institute.org{{request.path_info}}" />
<meta name="twitter:site" content="@Institute of Forensic Graphology, Nigeria." />
<meta name="twitter:title" content="Contact Us - Institute of Forensic Graphology, Nigeria." />
<meta name="twitter:description" content="Want to talk to us directly? use the form on this page to send us a message." />
<meta name="twitter:creator" content="@withubb" />
<meta name="twitter:image" content="https://ifgn-institute.org{% static 'ifgnapp/images/apple-touch-icon.png' %}" />
<meta property="twiter:card" content="summary_large_image" />
<meta name="twitter:image:alt" content="Institute of Forensic Graphology, Nigeria. logo" />
<script>
  // funtion for handling pop messagess...
  //it takes two parameters, your msg, your msg status{'success', 'warning', or 'failed'} respectively..
function pop_mgs(_txt, sts='success'){
  var _crv= document.createElement('div');
  document.body.appendChild(_crv);
  _crv.style.display='flex';
  _crv.setAttribute('id', 'pop-b-cover');
 if(sts === 'success'){
   _crv.style.color='#2c912c';
   _crv.innerHTML = `<aside id="pop-box"> 
      <span id="pop-ico">
          <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24" width="100%" fill="currentColor"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"/><path d="M16.59 7.58L10 14.17l-3.59-3.58L5 12l5 5 8-8zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/></svg>
          </span> <span> ${_txt} </span> </aside>`;
 }else if(sts === 'warning'){
   _crv.style.color='#f48805';
   _crv.innerHTML = `<aside id="pop-box"> <span id="pop-ico">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" viewBox="0 0 16 16"> <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/> <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/> </svg> </span> <span> ${_txt} </span> </aside>`;
 }else if(sts === 'failed'){
   _crv.style.color='#df3a3a';
   _crv.innerHTML = `<aside id="pop-box"> <span id="pop-ico"> <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24" width="100%" fill="currentColor"><path d="M0 0h24v24H0z" fill="none"/><path d="M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
  </span><span> ${_txt} </span> </aside>`; }
 _crv.addEventListener("click", () => {
     _crv.style.display='none'; 
     _has_c_doc = true; });
   setTimeout(() => { _crv.style.display='none'; }, 3500);
}        
</script>

<style>
    
/* pop msgs stylings */
#pop-ico{
  height: 40px;
  width: 40px; 
      box-sizing: border-box;
      /* padding: 7px;  */
      border-radius: 20px;
      margin-bottom: 0.5rem; 
      color: inherit;
      background-color: inherit;
      overflow: hidden;
    }
    #pop-box{
      display: block; 
      width: auto;
      max-width: 200px;
      padding: 1rem;
      border-radius: 1rem;
      color: inherit;
      font-weight: bolder;
      font-size: 1.1rem;
      background-color: white; 
      box-shadow: 10px 10px 100px rgb(156, 156, 156);
      box-sizing: border-box; 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      z-index: 2000;
      transition: .3s;
  }
  .anim-pop-box{
      transform: scale(0);
      opacity: 0;
      animation: box-pop 0.5s linear 0s 1;
      animation-fill-mode: forwards;
      transition: .3s;
    }
    @keyframes box-pop {
      0%{
        transform: scale(0);
        opacity: 0;
      }100%{
        opacity: 1;
        transform: scale(1);
      } 
    }
    #pop-b-cover{
      color: #d0cfcf;
      display: none;
      justify-content: center;
      align-items: center; 
      width: 100%;
      height: 100%;
      position: fixed; 
      box-sizing: border-box;
      left: 0px; 
      top: 0px; 
      z-index: 200;
    }
    /* font-family: 'Bad Script', cursive; font-weight: lighter !important; font-size: 1.3rem !important; */
</style>
{% endblock %}

{% block content %}

<article id="big_sect">

  <section id="direction-wrap">
    <aside style="display: block; position: absolute; height: 100%; width: 100%; background-size: cover; 
    background-repeat: no-repeat; opacity: 0.66;
    background-position: center; top: 0px; left: 0px; background-image: url({% static 'ifgnapp/images/doc-img2.jpg' %}); ">
    
  </aside>
  
  <aside id="rays"></aside>
  <section id="top-page-txt-wrapper">
    <h1> Contact Us </h1>
    
    <div id="top-page-txt-box">
      
      <a href="/">Home </a> 
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
      </svg>
      <span> Contact Us </span>
    </div>
    <span id="down_arrow">
      <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%" fill="currentColor"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
          </span>
  </section>
   
    </section>
    
 <article id="sect-holder" style="margin-bottom: 5rem;">
    

<!-- contact form.. -->
<article id="box_holder" style="display: flex; padding: 1rem; padding-top: 0px; width: 100%; flex-direction: column; height: auto; justify-content: center; border-radius: 2rem; align-items: center; box-shadow: 0px 0px 5px #dddddd; box-sizing: border-box; max-width: 650px; margin: 4rem auto;">
    <h2 id="form_head" class="cont-hd" style="text-align: left; padding-left: 1rem; font-size: 1.7rem; padding-bottom: 1rem;">
        Send us a message
  </h2>
  <article id="form-wrap" style="box-sizing: border-box;">
    
    <aside class="frm_inner_wrap">
        <label for="name">
            Enter name
        </label>
        <input required placeholder="Enter your name.." type="text" class="edit_box" id="name">
        </span>
      </aside>

      <aside class="frm_inner_wrap">
        <label for="email">
            Enter email
        </label>
        <input type="email" name="email" id="email" required placeholder="Enter your email here.." class="edit_box">
      </aside>
      
      <aside class="frm_inner_wrap">
        <label for="_country">
            Enter country
        </label>
        <input required placeholder="Enter your country here.." type="text" class="edit_box" id="_country">
        </span>
      </aside>

      <aside class="frm_inner_wrap">
        <label for="msg">
          Enter Message
        </label>
        <textarea placeholder="Tell us how we can serve you.." type="text" name="msg" class="txt_box" id="msg" rows="10" cols="40"></textarea>
      </aside>

      <aside class="site-btn" id="frm_btn">
          <span>
            Send Message
            </span>
        </aside>
        
 </article>

</article>
    <script>
      function _(c){ return document.getElementById(c);}
      var f_name = _('name'), _email = _("email"), _fmsg = _("msg"), _country = _('_country'), _submit_btn = _('frm_btn');
      const my_token = _('us_tkn').children[0].getAttribute("value");   
      
_submit_btn.addEventListener("click", () =>{
    if(f_name.value.match(/\w+/) && _country.value.match(/\w+/) && _fmsg.value.match(/\w+/)){
        
        var _url = '/cntfrm/';
        fetch(_url, {
            method: 'POST',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json',
                'X-CSRFToken':  my_token,
            },
            body: JSON.stringify({
                'reqtype': '{{ptype}}',
                'name': `${f_name.value}`,
                'msg': `${_fmsg.value}`,
                'country': `${_country.value}`,
                'email': `${_email.value}`,
                 }),
        })
        .then(response => response.json())
        .then(data => {
            // console.log('Success:', data);
            if(data.S){
                // pop_mgs(data.S, sts='success')
                _('box_holder').style.textAlign='center';
                _('box_holder').innerHTML=`
                  <span style="font-size: 2.3rem; font-weight: 700; color: #0a770a;">
                    Thank you!
                    </span>
                      <span style="font-size: 1.1rem; font-weight: bolder; max-width: 500px; color: #4d4d4d;">
                   We have received your messages, and our medical team will get back to you as soon as possible, have a nice moment.
              </span>`;
                
            }else if(data.W){
                pop_mgs(data.W, sts='warning')  
            }else if(data.E){
            pop_mgs(data.E, sts='failed')
            }else{
            pop_mgs('Sorry, an error occurred!', sts='failed')
            }
        })
        .catch((error) => {
            // console.error('Error:', error);
            pop_mgs(error, sts='failed')
        });

}else{
    pop_mgs('Invalid form, <br> please try again!', sts='failed')
}
});


</script>

  <style>
    /* form styling.. */
    :root{
      --form-f-size:0.95rem;
    }
    #frm_btn{
      background-color: var(--main-color);
      color: var(--fair-white);
      position: relative;
      margin: auto;
      box-sizing: border-box;
      cursor: pointer;
      padding: 1rem 2rem;
      transition: all 0.7s;
      border-radius: 5px;
      font-size: 1rem;
}
#frm_btn:hover, #frm_btn:active, #frm_btn:focus{
  opacity: 0.8;
}
#page-txt {
    line-height: 1.5;
    padding-top: 1rem;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 500px;
    color: #cecece;
}
.cont-hd {
    position: relative;
    width: 100%;
    left: 0px;
    line-height: 1.2;
    height: auto;
    box-sizing: border-box;
    text-align: left;
    font-size: 1.6rem;
    margin: 2rem auto 0.5rem 0rem;
    color: #c4c4c4;
    padding: 0rem;
    display: block;
}
.warn_highlight{
  border: 2px solid #be5b36 !important;
  color: #be5b36 !important;
}
.frm_inner_wrap{
  width: 100%;
  overflow-x: auto !important;
}
.edit_box, .txt_box{
  min-height: 38px;
  height: auto;
  width: 100%;
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
  background-color: #2c2c2c;
  border-radius: 5px;
  text-align: left !important;
  border: 2px solid #c3c2c2 !important;
  outline: none;
  overflow-y: auto;
  color: var(--fair-black);
}
.txt_box{
  border: 2px solid var(--fair-white); 
}
.frm_inner_wrap span{
  text-align: left;
  font-weight: bolder;
  color: var(--fair-black);
}
#form-wrap{
  width: 100%;
  padding: var(--form-f-size);
  height: auto;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  border-radius: var(--form-f-size);
  gap: var(--form-f-size);
  flex-direction: column;
}
label{
  color: var(--fair-white);
  font-weight: bolder;
}
label::after{
  content: '*';
  color: var(--main-color2);
}
/* form styling end.. */
  </style>           
</article>

</article>
{% endblock %}