{% extends 'ifgnapp/base.html' %}
{% load static %}

{% block title %} 
Terms and Privacy | Institute of Forensic Graphology 
{% endblock %}

{% block metadata %}     
<meta name="description" content="Review the Terms & Conditions of the Institute of Forensic Graphology, Nigeria. Learn about our policies on membership, courses, services, and legal agreements for using our forensic handwriting analysis platform." />
<link rel="canonical" href="https://ifgn-institute.org{{request.path_info}}" />               
<meta property="og:site_name" content="Institute of Forensic Graphology" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Terms and Privacy - Institute of Forensic Graphology" />
<meta property="og:description" content="Terms and privacy policy of our website Institute of Forensic Graphology" />
<meta property="og:image" content="https://ifgn-institute.org{% static 'ifgnapp/images/apple-touch-icon.png' %}" />
<meta property="og:locale" content="en_us" />
<meta property="og:url" content="https://ifgn-institute.org{{request.path_info}}" />
<meta name="twitter:site" content="@ifgnofficial" />
<meta name="twitter:title" content="Terms and Privacy - Institute of Forensic Graphology" />
<meta name="twitter:description" content="Terms and privacy policy of our website Institute of Forensic Graphology" />
<meta name="twitter:creator" content="@withubb" />
<meta name="twitter:image" content="https://ifgn-institute.org{% static 'ifgnapp/images/apple-touch-icon.png' %}" />
<meta property="twiter:card" content="summary_large_image" />
<meta name="twitter:image:alt" content="Institute of Forensic Graphology logo" />
{% endblock %}

{% block content %}

<article id="big_sect">

  <section id="direction-wrap">
  <section id="top-page-txt-wrapper">
    <h1> Terms and Privacy  </h1>
    
    <div id="top-page-txt-box">
      
      <a href="/">Home </a> 
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
      </svg>
      <span> Terms and Privacy  </span>
    </div> 
    <span id="down_arrow">
      <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%" fill="currentColor"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
          </span>
  </section>
   
</section>
    
<article id="sect-holder" style="margin-bottom: 5rem;">
    
  <section class="txt">  
    <p style="margin-block-start: 0px;">
          By accessing and using the website of Institute of Forensic Graphology  ("ifgn-institute.org"), you agree to comply with and be bound by these Terms and Conditions. If you do not agree with these terms, please do not use the Website.
        </p>
      </section>
      
      <section class="txt">
        <h2 class="in-header-txt">  
              Use of the Website 
            </h2>
            <p style="margin-block-start: 0px;">
              You agree to use the Website for lawful purposes only. You shall not engage in any conduct that restricts or inhibits any other user's use or enjoyment of the Website. Prohibited behaviors include, but are not limited to, harassment, defamatory statements, and the transmission of obscene or offensive content.
            </p>
          </section>
          <section class="txt">
            <h2 class="in-header-txt">  
              Intellectual Property
            </h2>
            <p style="margin-block-start: 0px;">
              All content on the Website, including text, graphics, logos, and images, is the property of Institute of Forensic Graphology  or its content suppliers and is protected by copyright laws. You may not reproduce, distribute, or create derivative works from any content on the Website without the express written permission of Institute of Forensic Graphology .
            </p>
          </section>
          <section class="txt">
            <h2 class="in-header-txt">  
              Disclaimer of Warranties
            </h2>
            <p style="margin-block-start: 0px;">
              The Website is provided on an "as is" and "as available" basis. Institute of Forensic Graphology  makes no representations or warranties of any kind, express or implied, as to the operation of the Website or the information, content, or materials included on the Website.
            </p>
          </section>
<section class="txt">
  <h2 class="in-header-txt">  
    Limitation of Liability
  </h2>
  <p style="margin-block-start: 0px;">
    Institute of Forensic Graphology  will not be liable for any damages of any kind arising from the use of the Website, including, but not limited to, direct, indirect, incidental, punitive, and consequential damages.
  </p>
</section>
<section class="txt">
  <h2 class="in-header-txt">  
    Changes to the Terms
  </h2>
  <p style="margin-block-start: 0px;">
    Institute of Forensic Graphology  reserves the right to change these Terms and Conditions at any time without prior notice. Your continued use of the Website after any changes indicates your acceptance of the new Terms and Conditions.
  </p>
</section>
<section class="txt">
  <h2 class="in-header-txt">  
    Governing Law
</h2>
<p style="margin-block-start: 0px;">
  These Terms and Conditions are governed by and construed by the laws of the state in which Institute of Forensic Graphology  is headquartered, without regard to its conflict of law principles.
</p>
</section>
<section class="txt">
  <h2 class="in-header-txt">  
    Privacy Policy
  </h2>
  <p style="margin-block-start: 0px;">
    Institute of Forensic Graphology  ("we," "our," or "us") is committed to protecting your privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our Website.
  </p>
</section>
<section class="txt">
  <h2 class="in-header-txt">  
    Information We Collect
  </h2>
  <p style="margin-block-start: 0px;">
    We may collect personal information that you voluntarily provide to us when you register on the Website, make an appointment, subscribe to our newsletter, or otherwise contact us. This information may include your name, email address, phone number, and medical information.
  </p>
</section>
<section class="txt">
  <h2 class="in-header-txt">  
    Use of Your Information
  </h2>
  We use the information we collect to:
  <br> <br>
  <ul>
    
  <li> Provide, operate, and maintain our Website </li>
  <li> Improve, personalize, and expand our Website </li>
  <li> Understand and analyze how you use our Website </li>
  <li> Develop new services, features, and functionality </li>
  <li> Communicate with you, including for customer service and to provide you with updates and other information relating to the Website </li>
  <li> Process your transactions and manage your appointments </li>
  
</ul>
</section>

<section class="txt">
  <h2 class="in-header-txt">  
    External Links on Our Website: 
  </h2>
  <p style="margin-block-start: 0px;">
    We has numerous external links; examples are links connecting to other sites. Those sites have their respective cookies and privacy policy and we are not responsible for any harm that may come from those sites. When you move out of our website through an external link please be sure to read their privacy policy. <br>
    Note: we has no access or control over those cookies that are used by third-party advertisers, and also to some of the links that may lead you to other websites.
  </p>

</section>

<section class="txt">
  <h2 class="in-header-txt">  
    Sharing Your Information
  </h2>
  <p style="margin-block-start: 0px;">
    We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. We may share your information with third-party service providers to help us operate our Website and provide our services. These third parties are obligated to maintain the confidentiality of your information.
  </p>
</section>
<section class="txt">
  <h2 class="in-header-txt">  
    Data Security, Cookies and Tracking Technologies
</h2>
<p style="margin-block-start: 0px;">
  We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that no security measures are perfect or impenetrable. <br>
  We may use cookies and other tracking technologies to collect and store your information. <br> You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Website.
</p>
</section>

<section class="txt">
  <h2 class="in-header-txt"> 
    Your Privacy Rights
  </h2>
  <p style="margin-block-start: 0px;">
    You have the right to access, correct, or delete your personal information. You can also object to the processing of your personal information or request that we restrict the processing of your personal information. To exercise these rights, please contact us using the contact information provided below.
  </p>
</section>

<section class="txt">
  <h2 class="in-header-txt"> 
    Changes to This Privacy Policy
  </h2>
  <p style="margin-block-start: 0px;">
    We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on our Website. You are advised to review this Privacy Policy periodically for any changes.
    <br>
    If you have any questions about this Privacy Policy, please contact us at: <a href="/contact-us/">Contact Us</a>
    <br>
    Your use of our Website constitutes your agreement to these terms and privacy policies. Thank you for trusting Institute of Forensic Graphology .
  </p>
</section>          

</article>

</article>
{% endblock %}
